/* Selects everything in the stylesheet, resets margin and padding */
* {
	margin: 0;
	padding: 0;
	
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url('../img/bg-tile.jpg');
	background-repeat: repeat-x;
	background-color: #171717;
	
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
.alert{
	background-color: antiquewhite;
	color: #572424;
	padding:5px;
	
}
#content h2{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	border-bottom: 1px solid black

}
#content h3{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	text-decoration: wavy;
}
#content h4{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	text-decoration: underline;
}
.yt a:hover{
	background-color: rgb(128, 240, 203);
}
	
.acc {
	float: right;
	border-style: solid;
	margin: 10px 0 10px 20px;

}
#header {
	
}
#header h1 a {
	display: block;
	width:800px;
	height:140px;
	background-image: url(../resources/header.jpg);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
