* {
	margin: 0px;
	padding: 0px;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url("bg-tile.jpg");
	background-repeat: repeat-x;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
.alert{
	background-color: antiquewhite;
	color: #572424;
}
#content h2{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	text-decoration: underline;

}
#content h3{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	text-decoration: wavy;
}
#content h4{
	background-color: whitesmoke;
	color: rgb(189, 189, 254);
	text-decoration: underline;
}
.yt a:hover{
	background-color: rgb(48, 168, 128);
}
img{
	float: right;
	border: #000;
	border-width: 10px;
	margin: 10px 10px 10px 10px;
	display:block;
}
#header {
	
}
#header h1 a {

}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
