body * {
    font-family: "Montserrat", sans-serif;
    
  }
 .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: 30%;
  margin-bottom: 20px;
}