/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  main {
    width: 1136px;
    margin: 20px auto;
    border: 1px solid black;
  }
  header.primary{
    width:96.65%;
    margin:1.760%;
    background-color: rgba(0, 0, 0, 0.4);
    float:left;
    padding:1.824%;
  }
  #blog{
    width: 63.73%;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  margin-left:1.760%;
  padding: 1.824%; 
  }
  aside {
    width:30.98%;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 1.760%;
    padding: 1.824%;
  }
  footer.primary {
    width: 96.65%;
    margin: 1.760%;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    padding: 1.824%;
  }
  
  /* End of "Micro clearfix" */
  
  /*
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/